<%- include('./parsials/header')%>
<body style="background-color: #fffc; text-decoration: none;
  background-image: url(https://www.transparenttextures.com/patterns/foggy-birds.png); margin-bottom:400px;">
    <%- include('./parsials/navbar')%>
    
    <%- include('./parsials/footer')%>
</body>
</html>