<div class=" fixed-bottom h-5" style="height: 50px;
-webkit-box-shadow: 0px 0px 22px 4px rgba(54,115,143,1);
-moz-box-shadow: 0px 0px 22px 4px rgba(54,115,143,1);
box-shadow: 0px 0px 22px 4px rgba(54,115,143,1); background-color: rgba(172,246,255,0.3);">
    <div class="container text-center mt-3 text-info">made by Bali Boys</div>
</div>